@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 0.4s ease-out;
}
